<!-- proudct box -->
<div class="position-relative">
    <div class="product-box text-end px-3 py-2">

        <div class="p-3">
            <img src="../../image/product/product1.png" alt="">
        </div>
        <div class="title-product my-2">مدل دقیق کت</div>
        <div class="shop-name">
            <span class="name">نام فروشگاه</span>
            <span>:</span>
            <span>test shop</span>
        </div>

        <div class="specially-for my-2">
            <span>مخصوص: </span>
            <span class="season spring">بهار، </span>
            <span class="season summer">تابستان، </span>
            <span class="season autumn">پاییز، </span>
            <span class="season winter">زمستان، </span>
        </div>

        <div class="sizes my-2">
            <span>M</span>
            <span>L</span>
            <span>XL</span>
            <span>XXL</span>
        </div>

        <div class="product-price mt-2">
            <div class="main-price">
                <span>1,200,000</span>
                <span>تومان</span>
            </div>
            <div class="discounted-price">
                <span class="discounted"><span>24</span><span>%</span></span>
                <span class="text-decoration-line-through">
                    <span>1,200,000</span>
                    <span>تومان</span>
                </span>
            </div>
        </div>

        <div>
            <button class="w-100 mt-2 order order-100">
                <i class="fa-solid fa-bag-shopping"></i>
                <span>سفارش</span>
            </button>
        </div>
    </div>
    <div class="liked ms-3"><i class="fa-regular fa-heart"></i></div>
</div>