/* Media Query */

@media screen and (max-width: 767px) {
    .product-box .title-product {
        font-size: 15px !important;
    }

    .product-box .shop-name {
        font-size: 11px !important;
    }

    .product-box .product-price .main-price {
        font-size: 15px !important;
    }

    .product-box .sizes span {
        font-size: 13px;
    }

    .product-box .product-price .main-price {
        font-size: 14px !important;
    }

    .product-box .product-price .discounted-price {
        font-size: 11px !important;
        margin-top: 5px;
    }

    .product-box .product-price .discounted-price .currency {
        font-size: 11px;
    }

    .product-box .specially-for span {
        font-size: 12px
    }

    .div-title-section h3 {
        font-family: var(--font-bold);
        font-size: 20px;
    }

    .div-title-section.mobile {
        color: #ffffff;
    }

    #category .category-box img {
        height: 150px !important;
    }

    #category .category-box .category-title {
        font-size: 20px !important;
    }

    #category .category-box .prices {
        font-size: 13px !important
    }

    #season-collection {
        background-color: #000000 !important;
        padding: 15px 15px 15px 0 !important;
    }

    #season-collection .swiper-slide {
        background: #000000 !important;
    }

    #season-collection .produt-sliders {
        background-color: #000000 !important;
    }

    #season-collection .produt-sliders {
        left: 25px !important;
    }

    #season-collection .order-all {
        bottom: 10px !important;
        right: 10px !important;
    }

    #season-collection .order-all svg {
        font-size: 15px !important;
        margin-right: 3px !important;
    }

    #season-collection .order-all:hover svg {
        font-size: 17px !important;
    }

    #special-sale {
        background-color: var(--primary-color);
    }


}

/* Product Box */

.product-box {
    background-color: #F0F0F0;
    border-radius: 20px;
    position: relative;
    paddin-left: 0 5px 0 5px !important
}


.row-shops .col-shop:nth-child(1) .product-box {
    background: rgb(185, 124, 1);
    background: linear-gradient(0deg, #7803f3 0%, #fe7cfd 50%, #7803f3 100%);
}

.row-shops .col-shop:nth-child(2) .product-box {
    background: rgb(185, 124, 1);
    background: linear-gradient(0deg, #2c73f5 0%, #79e2ff 50%, #2c73f5 100%);
}

.row-shops .col-shop:nth-child(3) .product-box {
    background: rgb(185, 124, 1);
    background: linear-gradient(0deg, #038311 0%, #8bfd7c 50%, #038311 100%);
}


.row-shops .col-shop:nth-child(4) .product-box {
    background: rgb(185, 124, 1);
    background: linear-gradient(0deg, rgba(185, 124, 1, 1) 0%, rgba(252, 226, 158, 1) 50%, rgba(185, 124, 1, 1) 100%);
}


.product-box .box-shop {
    background-color: #F0F0F0;
    border-radius: 20px;
}

.product-box img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.product-box.latest-styles img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 5/4;
    border-radius: 15px;
}

.product-box .title-product {
    font-size: 20px;
    font-family: var(--font-bold);
    color: var(--primary-color);
}

.product-box .shop-name {
    font-size: 13px;
    color: #565656;
}

.product-box .product-price .main-price {
    font-size: 17px;
    font-family: var(--font-bold);
    color: #000000;
}

.product-box .product-price .discounted-price {
    font-size: 14px;
    font-family: var(--font-bold);
    color: #00000080;
}

.product-box .specially-for {
    font-size: 14px;
    font-family: var(--font-bold);
    color: #000000;
}

.product-box .specially-for .spring {
    background: -webkit-linear-gradient(180deg, #52ff9a, #1a9256);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-box .specially-for .summer {
    background: -webkit-linear-gradient(180deg, #ff930f, #c4be2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-box .specially-for .autumn {
    background: -webkit-linear-gradient(180deg, #ea5459, #f7ba2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-box .specially-for .winter {
    background: -webkit-linear-gradient(180deg, #61f4de, #6e78ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-box .sizes span {
    background-color: var(--primary-color);
    padding: 2px 8px 0 8px;
    border-radius: 8px;
    color: #ffffff;
}

.discounted-price .discounted {
    font-size: 11px;
    background-color: var(--primary-color) !important;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
}

.liked {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    padding-top: 5px;
}

.liked svg {
    font-size: 22px;
    padding-top: 5px;
    color: #D6173D;
}

.see-more span,
.see-more svg {
    color: #7D7D7D;
    transition: var(--transition);
}

.see-more:hover svg {
    font-size: 20px;
    margin-right: 5px;
}

.div-title-section {
    font-family: var(--font-bold);
}

.title-line-right,
.title-line-left {
    height: 3px;
    width: 30%;
    background: linear-gradient(90deg, var(--primary-color) 0%, rgba(0, 0, 0, 0) 100%);
}

.div-title-section .title-line-left {
    background: linear-gradient(-90deg, var(--primary-color) 0%, rgba(0, 0, 0, 0) 100%);
}


/* Buttons */

button.order {
    border: none;
    background-color: var(--primary-color);
    color: #F0F0F0;
    border-radius: 11px;
    padding: 10px 20px 10px 40px;
    transition: var(--transition);
}

button.order:hover {
    padding: 10px 30px 10px 40px;
}

button.order svg {
    color: #f0f0f000;
    transition: var(--transition);
}

button.order:hover svg {
    color: #F0F0F0;
}


button.order-100 {
    background-color: var(--primary-color);
    padding: 5px 0px 5px 20px !important;
}

button.order-100:hover {
    padding: 5px 0 !important;
}


body {
    font-family: var(--font-normal) !important;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #ececec;

}

/* Slider */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
}

a {
    text-decoration: none !important;
}

#header-desktop {
    max-width: 1920px;
    border-radius: 0 0 120px 120px;
    padding: 0 !important;
    overflow: hidden;
}

#headerSliderDesktop {
    width: 100%;
    height: 100%;
    position: relative;
}

#headerSliderDesktop .pagination-navigation {
    z-index: 1;
    position: absolute;
    bottom: 23px;
    right: 81px;
}

.swiper-pagination {
    position: relative !important;
}

#headerSliderDesktop .pagination-navigation svg {
    font-size: 18px;
    color: var(--primary-color);
}

header .swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;

}

header .swiper-pagination-bullet {
    border: 2px solid var(--primary-color);
    background-color: #00000000;
    width: 12px;
    height: 12px;
    opacity: 1;

}

.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 0 !important;
    transform: translateX(0) !important;
    white-space: normal !important;

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0 !important;
}


#headerSliderMobile .swiper-slide-next img,
#headerSliderMobile .swiper-slide-prev img {
    transform: rotateX(45deg);
    transition: 300ms;
}

#headerSliderMobile .swiper-slide img {
    border-radius: 20px;
}

/* Category */

#category .category-menu {
    display: inline-block;
    /* background-color: rgb(130, 213, 238); */
    margin-right: 8px;
}

#category .category-menu ul li:first-child {
    margin-right: 0;
}

#category .category-menu ul li {
    display: inline-block;
    color: #B3B3B3;
    margin-right: 8px;
    cursor: pointer;
}

#category .category-menu ul li.active {
    color: #000000;
    border-bottom: 2px solid;
}

#category .slider-nav {
    right: 0;
}

#category .slider-nav svg {
    color: #ffffff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

#category .slider-nav .swiper-button-disabled svg {
    background-color: #ffffff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

#category .category-box {
    background-color: #F0F0F0;
    border-radius: 20px;
}

#category .category-box img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    height: 200px;
}

#category .category-box .category-title {
    color: #000000;
    font-family: var(--font-bold);
    font-size: 25px;
    text-align: right;
}

#category .category-box .shops {
    color: #2C2C2C;
    font-size: 14px;
    text-align: right;
}

#category .category-box .prices {
    font-size: 14px;
    color: #000000;
}

/* Season collection */

#season-collection .model-box {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    transition: var(--transition);
}

#season-collection .model-box:hover .box-shadow-hover {
    opacity: 1;
}

#season-collection .box-shadow-hover {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.767) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
    opacity: 0;
}

#season-collection .model-box img {
    width: 100%;
}

#season-collection .box-shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.767) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

#season-collection .order-all {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;

}

#season-collection .order-all svg {
    font-size: 20px;
    margin-right: 5px;
    transition: var(--transition);
}

#season-collection .order-all:hover svg {
    font-size: 25px;
}

#season-collection .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#season-collection .produt-sliders {
    position: relative;
    left: 50px;
    background-color: #ffffff;
    border-radius: 20px;
}

#season-collection .title-section h4 {
    font-family: var(--font-bold);
}

#season-collection .season-collection-slider {
    border-radius: 20px;
}


/* Special Ceasonal Clothes */

#special-ceasonal-clothes-slider .special-clothes-next {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 50%;
}

#special-ceasonal-clothes-slider .special-clothes-prev {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 50%;
}

#special-ceasonal-clothes-slider .special-clothes-next svg,
#special-ceasonal-clothes-slider .special-clothes-prev svg {
    color: #ffffff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

#special-sale {}

.special-sale {
    background-color: var(--primary-color);
    border-radius: 20px;
}

.special-sale .discount-icon svg {
    color: var(--primary-color);
    width: 100px;
    font-size: 100px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

.special-sale .special-sale-text {
    color: #ffffff;
    font-size: 25px;
    font-family: var(--font-bold);
}

.special-sale .time-remaining .time {
    background-color: #ffffff;
    color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
    font-size: 18px;
    box-sizing: border-box;
}

.special-sale .time-remaining .time-text {
    background-color: #ffffff;
    color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.special-sale .time-remaining .colon {
    font-size: 50px;
    color: #ffffff;
}

#special-sale .special-sale-next {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 50%;
}

#special-sale .special-sale-prev {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 50%;
}

#special-sale .special-sale-next svg,
#special-sale .special-sale-prev svg {
    color: var(--primary-color);
    background-color: #ffffff;
    border: 2px solid #ffffff;
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

#special-sale .special-sale-title-section {
    border-left: 10px dashed #ffffff;
}

#special-sale .special-sale-mobile {
    color: #ffffff;
}

#special-sale .special-sale-mobile svg {
    font-size: 40px;
}

#special-sale .special-sale-mobile .special-sale-title {
    font-size: 25px !important;
    font-family: var(--font-bold);
}

#special-sale .special-sale-mobile .time-remaining .time {
    background-color: #ffffff;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    box-sizing: border-box;
}

#special-sale .special-sale-mobile .time-remaining .colon {
    font-size: 30px;
 
}


















#latest-styles-slider .latest-styles-next {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 50%;
}

#latest-styles-slider .latest-styles-prev {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 50%;
}

#latest-styles-slider .latest-styles-next svg,
#latest-styles-slider .latest-styles-prev svg {
    color: #ffffff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}