/* Buttons */

button.order {
    border: none;
    background-color: var(--primary-color);
    color: #F0F0F0;
    border-radius: 11px;
    padding: 10px 20px 10px 40px;
    transition: var(--transition);
}

button.order:hover {
    padding: 10px 30px 10px 40px;
}

button.order svg {
    color: #f0f0f000;
    transition: var(--transition);
}

button.order:hover svg {
    color: #F0F0F0;
}


button.order-100 {
    background-color: var(--primary-color);
    padding: 5px 0px 5px 20px !important;
}

button.order-100:hover {
    padding: 5px 0 !important;
}


body {
    font-family: var(--font-normal) !important;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #ececec;

}

a {
    text-decoration: none !important;
}

#header-desktop {
    max-width: 1920px;
    /* height: 70vh; */
    border-radius: 0 0 120px 120px;
    padding: 0 !important;
    overflow: hidden;
}

#headerSliderDesktop {
    width: 100%;
    height: 100%;
    position: relative;
}

#headerSliderDesktop .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerSliderDesktop .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;

}

#headerSliderDesktop .pagination-navigation {
    z-index: 1;
    position: absolute;
    bottom: 23px;
    right: 81px;
}

.swiper-pagination {
    position: relative !important;
}

#headerSliderDesktop .pagination-navigation svg {
    font-size: 18px;
    color: #524F54;
}

header .swiper-pagination-bullet-active {
    background-color: #524F54 !important;

}

header .swiper-pagination-bullet {
    border: 2px solid #524F54;
    background-color: #00000000;
    width: 12px;
    height: 12px;
    opacity: 1;

}

.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 0 !important;
    transform: translateX(0) !important;
    white-space: normal !important;

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0 !important;
}



#headerSliderMobile .swiper-slide {
    width: 100%;
}

#headerSliderMobile .swiper-slide-next img,
#headerSliderMobile .swiper-slide-prev img {
    transform: rotateX(45deg);
    transition: 300ms;
}

#headerSliderMobile .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


/* Season collection */

#season-collection {
    max-width: 1920px;
}

#season-collection .model-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #F0F0F0;
    border-radius: 20px;
    aspect-ratio: 3/4;
    transition: var(--transition);
}

#season-collection .model-box:hover .box-shadow-hover {
    opacity: 1;
}

#season-collection .box-shadow-hover {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.767) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
    opacity: 0;
}

#season-collection .model-box img {
    width: 100%;
}

#season-collection .box-shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.767) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

#season-collection .order-all {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;

}

#season-collection .order-all svg {
    font-size: 20px;
    margin-right: 5px;
    transition: var(--transition);
}

#season-collection .order-all:hover svg {
    font-size: 25px;
}

#season-collection .swiper-slide {
    width: 100%;
}

#season-collection .product-box {
    background-color: #F0F0F0;
    text-align: center;
    border-radius: 20px;
}

#season-collection .product-box img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3/3;
}

#season-collection .product-box .title-product {
    font-size: 20px;
    font-family: var(--font-bold);
}

#season-collection .product-box .shop-name {
    font-size: 13px;
    color: #565656;
}

#season-collection .product-box .product-price {
    font-size: 17px;
    font-family: var(--font-bold);
}


#season-collection .produt-sliders {
    position: relative;
    left: 50px;
    background-color: #ffffff;
    border-radius: 20px;
}

#season-collection .title-section h4 {
    font-family: var(--font-bold);
}

#season-collection .title-section span,
#season-collection .title-section svg {
    color: #7D7D7D;
    transition: var(--transition);

}

#season-collection .title-section:hover svg {
    font-size: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 767px) {
    #season-collection .produt-sliders {
        left: 0;
    }
}


/* Category */

#category .category-menu {
    display: inline-block;
    /* background-color: rgb(130, 213, 238); */
    margin-right: 8px;
}

#category .category-menu ul li:first-child {
    margin-right: 0;
}

#category .category-menu ul li {
    display: inline-block;
    color: #B3B3B3;
    margin-right: 8px;
    cursor: pointer;
}

#category .category-menu ul li.active {
    color: #000000;
    border-bottom: 2px solid;
}

#category .slider-nav {
    right: 0;
}

#category .category-box {
    background-color: #F0F0F0;
    border-radius: 20px;
    /* height: 100%; */
}

#category .category-box img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

#category .category-box .category-title {
    color: #000000;
    font-family: var(--font-bold);
    font-size: 25px;
}

#category .category-box .shops {
    color: #2C2C2C;
    font-size: 14px;
}

#category .category-box .div-fix {
    height: 100%;
}